header{
  width: 980px;
  height: 140px;
  border: 2px dashed black;
  background-color: aqua;
  margin: auto;
  margin-bottom: 10px;
  color: white;
 
 

}
main{
  width: 980px;
  height: 450px;
  color: white;
  margin: auto;
  border: 2px red dashed;

}
aside{
  width: 270px;
  height: 450px;
  background-color: red;
  border: 2px black dashed;
  float: left;
  margin-right: 10px;
  color: white;
}
section{
  width: 690px;
  height: 450px;
  background-color: blue;
  border: 2px dashed palevioletred;
  float: left;
  color: white;
}
footer{
  width: 980px;
  height: 70px;
  background-color: aqua;
  margin: auto;
  border: 2px green dashed;
  margin-top: 20px;
  color: white;
}