header{
  width: 980px;
  height: 140px;
  border: 2px dashed black;
  background-color: aqua;
  margin: 20px;
  margin-left: auto;
  margin-left: auto;

}
main{
  width: 690px;
  height: 450px;
  background-color: aqua;
  margin-right: auto;
  margin-top: auto;
  border: 2px red dashed;

}
footer{
  width: 980px;
  height: 70px;
  background-color: aqua;
  margin-right: auto;
  margin-top: auto;
  border: 2px green dashed;
  margin-top: 20px;
}